cx-Oracle==8.3.0
Flask==2.3.2
Flask-API==3.1
Flask-Caching==2.0.2
Flask-Cors==4.0.0
fdb
greenlet<0.5,>=0.4.5
psycopg2==2.9.6
psycopg2-binary==2.9.6
pymssql==2.2.7
pymysql==1.1.1
python-dotenv==1.0.0
pyopenssl
SQLAlchemy==2.0.18
sqlalchemy-firebird
packaging
uwsgi
Werkzeug==2.3.7
PyJWT==2.9.0
